.container{
    background-color: grey;
    font-size: 20px;
    font-family:monospace;
    width:100%;
    
}

.brown {
    background-color: rgb(78, 74, 71);
    
    
}
.houston{
    background-color: burlywood;
    
    
}
.reeds{
    background-color: grey;
    width:100%;
}